.SearchFeature{
    height:500px;
    width: 400px;
    margin: auto;
}

.searchUserButton{
    width: 75%;
    float: left;
    padding: 20px;
}


.favoriteButton{
    width: 25%;
    float: left;
    padding: 20px;
}


.searchUserContainer{
    border: 3px solid #fff;
    padding: 10px;
}