.SearchFeature{
    height:500px;
    width: 400px;
    margin: auto;
}

.searchUserButton{
    width: 75%;
    float: left;
    padding: 20px;


    background-image: url("../images/profileIcon.webp");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-blend-mode:hard-light;
    background-clip:padding-box

}


.favoriteButton{
    width: 25%;
    float: left;
    padding: 20px;
}


.searchUserContainer{
    border: 3px solid #fff;
    padding: 10px;
}